
{{!-- Sidebar user panel (optional) --}}
<div class="user-panel" {{initialize-sidebar}}>
  <div class="pull-left image">
    <img src="{{this.apiHost}}/userimage/get/{{this.currentUser.user.id}}" class="img-circle" alt="{{this.currentUser.user.name}}">
  </div>
  <div class="pull-left info">
    <p id="user-name">{{this.currentUser.user.name}}</p>
    {{!-- Status --}}
    <a href="#"><i class="fa fa-circle text-success"></i>{{t "views.app.online"}}</a>
  </div>
</div>

{{!-- search form (Optional) --}}
<div class="sidebar-form">
  <div class="input-group">
    <PowerSelect
        class="form-control"
        @options={{this.projectsList}}
        @selected={{find-by "value" this.projectId this.projectsList}}
        @placeholder={{t "views.nav.selectproject"}}
        searchField="label"
        @onChange={{this.projectChanged}}
        as |project|>
        {{project.label}}
    </PowerSelect>
  </div>
</div>
{{!-- /.search form --}}

{{!-- Sidebar Menu --}}
<ul class="sidebar-menu">
  <li class="header">{{t "views.nav.mainnav"}}</li>

  <AppUi::NavbarItems
    @meta={{this.navigationMeta}}
    @appPrefix={{this.appPrefix}}
    @navigate={{this.navigate}}
    @trackedProject={{this.trackedProject}}
  />

  <li class="header">{{t "views.app.components.navBar.admin"}}</li>
  <AppUi::NavbarItems
    @meta={{this.adminNavigationMeta}}
    @appPrefix={{this.appPrefix}}
    @navigate={{this.navigate}}
    @trackedProject={{this.trackedProject}}
  />

</ul>
{{!-- /.sidebar-menu --}}