<section class="content-header">
</section>

<section class="content">
  <div class="row">

    {{#if (gt this.currentUser.user.projects.length 0) }}
      {{#each this.widgets as |value|}}
        <div class="col-md-6 col-sm-12 widgets connectedSortable ui-sortable">
          {{component (concat 'widgets/' (dasherize value)) data=(get-prop this value)}}
        </div>
      {{/each}}

    {{else}}
      <div class="col-md-12 text-center">
        <img class="img-responsive" src="/img/app/logo-256.png" alt={{t "application"}}>
        <h1>{{safe-html (t "views.app.welcome")}}</h1>

        <AccessControl @aclContext="App.Project.Create">
          <:default>
            <p>{{t 'views.app.createNewProjectDescription'}}</p>
            <LinkTo @route="app.projects.create">
              <AppUi::Button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> {{t "views.app.createProject"}}</AppUi::Button>
            </LinkTo>
          </:default>
          
          <:fallback>
            <p>{{t 'views.app.contactAdminForProject'}}
              <LinkTo role="button" @route="app.user.page" @model={{this.currentUser.user.createdUser}}>{{this.currentUser.user.createdUserName}} </LinkTo>
            </p>
          </:fallback>
        </AccessControl>
        
      </div>      
    {{/if}}
  </div>
</section>
