<div class="login-box">
  <div class="login-logo">
    <a data-toggle-forget-password ><img alt="{{t "application"}}" src="/img/forgot-password.png">
      <div class="clearfix"></div>{{safe-html (t "views.signin.resetPassword.title")}}
    </a>
  </div>
  <div class="login-box-body" data-reset-password-box>
    <p class="title">{{t "views.signin.resetPassword.message"}}</p>

    <FormFields::FieldText 
      @placeholder={{t "views.signin.resetPassword.password" }}
      @type="password" 
      @value={{this.password}}
      @data-field="user.password" 
      @lengthRequired={{false}}
      @validate={{action this.validateField "resetPassword" (hash name="password" value=this.password validateDependent="true" model= (hash password=this.password passwordConfirmation=this.passwordConfirmation))}}
      @message={{this.message.resetPassword.password}}
      @dependentField={{hash name="passwordConfirmation" t=(t "views.app.user.create.password") oneOf="true" value=this.passwordConfirmation}}
    />

    <FormFields::FieldText 
      @placeholder={{t "views.signin.resetPassword.confirm" }}
      @type="password"
      @value={{this.passwordConfirmation}}
      @data-field="user.confirmPassword" 
      @lengthRequired={{false}} 
      @validate={{action this.validateField "resetPassword" (hash name="passwordConfirmation" value=this.passwordConfirmation model= (hash password=this.password passwordConfirmation=this.passwordConfirmation))}}
      @message={{this.message.resetPassword.passwordConfirmation}}
      @dependentField={{hash name="password" t=(t "views.app.user.create.password" value=this.password)}}
    /> 

    <div class="text-center">
      <AppUi::Button
        data-reset-password-btn
        type="button" 
        data-btn="save" 
        class="btn btn-primary"
        {{action this.updateUserPassword}} 
      >
        {{t "views.signin.resetPassword.changePassword"}}
      </AppUi::Button>
    </div>
  </div>
</div>