<footer class="main-footer">
    {{!-- To the right --}}
    <div class="pull-right hidden-xs">
    <i class="fa fa-bug"></i> <a href="#">{{t "views.app.reportissue"}}</a> <i class="fa fa-life-buoy"></i> <a href="#">{{t "views.app.support"}}</a>
    </div>
    {{!-- Default to the left --}}
    <strong data-footer="copyright">{{t "copyright" year=this.currentYear}} <a href="{{t "website"}}" target="blank">{{t "company"}}</a>.</strong> {{t "rights"}}
</footer>